body{
  height: 100vh;
  display: flex;
  justify-content: center;
  
  background-color: gray;
 
  background-color: #08AEEA;
background-image: linear-gradient(120deg, #08AEEA 0%, #2AF598 100%);



}


.container {  
  margin-top: 5rem;
  width: 400px;
  height: 570px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 2px solid rgba(0,0,0,.75);
  
  background-color: rgba(255, 255, 255, .8); 
  
}
.output {
  width: 400px;
  height: 150px;
  font-size: 40px;
  /* word-wrap: break-word;  */
  color: #ff7b00;
  position: relative;
  overflow: hidden;
  
  display: flex;
  justify-content: flex-end;  
  background-color:rgba(0,0,0,.75);
  /* border: 1px solid rgba(0,0,0,.75); */
  
}


.button {
  width: 96px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, .5zs);
  /* margin: 2px; */
  font-weight: bold;
  
}
.button:hover{
  background-color: rgba(255, 255, 255, .9);
}
.equal {
  width: 196px;
}

.r1-b1 {
  width: 196px;
}
